@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

* {
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}


.scrollable::-webkit-scrollbar {
  width: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #86919cd6;
  border-radius: 100px;
}

.scrollable::-webkit-scrollbar-track-piece {
  margin-top: 30px;
  border-radius: 100px;
  background: #b4c3d2;
}
